# The configuration file for nav_automation worker.py.
#

[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# smtp timeout in seconds
timeout=30

# Bloomberg mail recipients
bloombergMailRecipients=steven.zhang@clamc.com.hk, itsupport@clamc.com.hk

# Thomson Reuters mail recipients
thomsonMailRecipients=steven.zhang@clamc.com.hk, itsupport@clamc.com.hk

# Notification email recipients
notificationMailRecipients=itadmin@clamc.com.hk

# Bloomberg fund pricing template file
bloombergTemplateFile=Bloomberg fund pricing template.xlsx

# Thomson Reuters fund pricing template file
thomsonTemplateFile=Thomson Reuters fund pricing template.xlsx



[stbf]

# directory for short term bond fund pricing files
dataDirectory=C:\temp\fund price\Short Term Bond Fund

# directory for Bloomberg and Thomson Reuters files generated
outputDirectory=C:\temp\fund price\Short Term Bond Fund\fund pricing files

# directory for processed fund pricing files
processed=C:\temp\fund price\Short Term Bond Fund\processed



[web]

# timeout in miliseconds when updating the website
timeOut=3000